{% extends 'base.html.twig' %}

{% block title %}Tarifas | Bike In Bed{% endblock %}
{% block description %}Esto son las tarifas{% endblock %}
{% block keywords %}bicicleta, barcelona, alquilar{% endblock %}
{% block canonical %}{{ url('pagina',{ nombrePagina: 'tarifas'}) }}{% endblock %}

{% block id 'tarifas' %}

{% block body %}
    <section>
        pagina Tarifas
    </section>
{% endblock %}

