{% extends 'base.html.twig' %}

{% block title %}Tours | Bike In Bed{% endblock %}
{% block description %}Esto son las tours{% endblock %}
{% block keywords %}bicicleta, barcelona, alquilar{% endblock %}
{% block canonical %}{{ url('pagina',{ nombrePagina: 'tours'}) }}{% endblock %}

{% block id 'tours' %}

{% block body %}
    <section>
        pagina Tours
    </section>
{% endblock %}



